{{> header title='Whirl by Jaden Dessureault'}}

<div id="zone">
  <div class="whirl-splash">custom splash</div>
  <div class="whirl-loading">Loading custom</div>
</div>

<div id="info">
  Total: <div id="total"></div>
  Current: <div id="current"></div>
</div>

{{> footer}}