* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#zone {
  width: 100%;
  height: 100%;
  font: 18px/1.6 Work Sans, sans-serif;
  text-align: center;
  box-sizing: border-box;

  &.drag-active {
    border: 4px solid rgba(black, 0.1);
  }

  .whirl-splash {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .whirl-loading {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

#watermark {
  position: absolute;
  bottom: 20px;
  right: 25px;
  font: 18px/1.6 Work Sans, sans-serif;
  opacity: 0.4;

  &:hover {
    opacity: 1;
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
