* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

#whirl-slider {
  outline: 1px solid red;
}

#zone {
  width: 100%;
  height: 100%;
  font: 18px/1.6 Work Sans, sans-serif;
  text-align: center;
  background: #DEF5FF;
  box-sizing: border-box;

  &.drag-active {
    border: 5px dashed rgba(black, 0.2);
  }

  .whirl-splash {

  }

  .whirl-loading {

  }
}

#info {
  position: absolute;
  bottom: 40px;
  left: 40px;

  #total,
  #current {
    display: inline-block;
  }
}
